
{% extends  'base.html' %}
  <!-- Page Content -->
  {% block content %}
    <!-- Blog Post -->
    {% for post in posts %}
    <div class="card mb-4">
        <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
        <div class="card-body">
        <h2 class="card-title">{{post.title}}</h2>
        <p class="card-text">{{post.body | slice:':200' }}</p>
        <a href="{% url 'blog_detail' post.slug %}" class="btn btn-primary">Read More</a>
        </div>
        <div class="card-footer text-muted">
        Posted on {{post.created_on}} by
        <a href="#">{{post.writer}}</a>
        </div>
    </div>
    {% endfor %}
    <!-- Blog Post -->
{% endblock %}

      <!-- Sidebar Widgets Column -->
      